.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
.neg-margin-x
  margin-left: -3rem
  margin-right: -3rem
.r-0
  border-radius: 0px !important
code, .tarjeta--negra
  color: #000

.c1
  background-color: rgba(255, 42, 201, .2)
  border: 3px solid rgba(255, 202, 40, 1)
  border-right: 0
.c1:hover
  background-color: rgba(255, 202, 40, 1)
  color: #000

.c2
  background-color: rgba(103, 93, 132, .2)
  border: 3px solid rgba(103, 93, 132, 1)
  border-left: 0
.c2:hover
  background-color: rgba(103, 93, 132, 1)
  color: #fff
.c1:hover *, .c2:hover *
  color: #000
.squareLetter
  width: 36px
  height: 36px
  font-size: 22px
  text-align: center
  font-weight: 700
  background-color: #FFCA28
  padding: 5px 12px
  margin-right: 10px
.card
  border-radius: 10px
.card.outlined:hover
  border-color: #FFA726
.custom-card > div
  margin-left: 0
  margin-right: -15%
  padding-left: 0
  padding-right: 15%
.custom-card > img
  min-width: auto
  max-width: 250px
  margin-top: -5%
.cajon.color-secundario:before
  background-color: #FFA726
.light-yellow
  background-color: #FFF5D4
.boxTable
  border-top: 5px solid #FFA726
  border-bottom: 5px solid #FFA726
.content-box
  padding: 50px
  width: 100%;
.custom-labels .etiqueta 
  width: fit-content
pre code
  color: #000
.customCaption
  background-color: transparent
  border-left: 4px solid #FFA726
  font-weight: 400
  font-size: 13px
.customCaption-bold
  background-color: transparent
  border-left: 4px solid #FFA726
  font-weight: 700
  font-size: 18px
.nW
  width: auto

.slideInLeft
  -webkit-animation-name: slideInLeft
  animation-name: slideInLeft
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes slideInLeft
  0%
    -webkit-transform: translateX(-100%)
    transform: translateX(-100%)
    visibility: visible

  100%
    -webkit-transform: translateX(0)
    transform: translateX(0)

@keyframes slideInLeft
  0%
    -webkit-transform: translateX(-100%)
    transform: translateX(-100%)
    visibility: visible

  100%
    -webkit-transform: translateX(0)
    transform: translateX(0)
.slideInRight
  -webkit-animation-name: slideInRight
  animation-name: slideInRight
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes slideInRight
  0%
    -webkit-transform: translateX(100%)
    transform: translateX(100%)
    visibility: visible

  100%
    -webkit-transform: translateX(0)
    transform: translateX(0)

@keyframes slideInRight
  0%
    -webkit-transform: translateX(100%)
    transform: translateX(100%)
    visibility: visible

  100%
    -webkit-transform: translateX(0)
    transform: translateX(0)
    
.slideInUp
  -webkit-animation-name: slideInUp
  animation-name: slideInUp
  -webkit-animation-duration: 1s
  animation-duration: 1s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both

@-webkit-keyframes slideInUp
  0%
    -webkit-transform: translateY(100%)
    transform: translateY(100%)
    visibility: visible

  100%
    -webkit-transform: translateY(0)
    transform: translateY(0)

@keyframes slideInUp
  0%
    -webkit-transform: translateY(100%)
    transform: translateY(100%)
    visibility: visible

  100%
    -webkit-transform: translateY(0)
    transform: translateY(0)


@media (max-width: 576px)
  .custom-card
    display: block
  .tabs-b__tab__title
    display: none
  .customTabsx1 .col-6
    width: 20%
  .customTabsx1 .tabs-b__tab__icon
    margin-bottom: 0px