.shadow-box
  box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, .2);
.neg-margin-x
  margin-left: -3rem
  margin-right: -3rem
.r-0
  border-radius: 0px !important
code, .tarjeta--negra
  color: #000

.c1
  background-color: rgba(255, 42, 201, .2)
  border: 3px solid rgba(255, 202, 40, 1)
  border-right: 0
.c1:hover
  background-color: rgba(255, 202, 40, 1)
  color: #000

.c2
  background-color: rgba(103, 93, 132, .2)
  border: 3px solid rgba(103, 93, 132, 1)
  border-left: 0
.c2:hover
  background-color: rgba(103, 93, 132, 1)
  color: #fff
.c1:hover *, .c2:hover *
  color: #000
.squareLetter
  width: 36px
  height: 36px
  font-size: 22px
  text-align: center
  font-weight: 700
  background-color: #FFCA28
  padding: 5px 12px
  margin-right: 10px
.card.outlined:hover
  border-color: #FFA726
.cajon.color-secundario:before
  background-color: #FFA726
.light-yellow
  background-color: #FFF5D4
.boxTable
  border-top: 5px solid #FFA726
  border-bottom: 5px solid #FFA726
.content-box
  padding: 50px
  width: 100%;
.custom-labels .etiqueta 
  width: fit-content
